/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  color: #8B4513;
}

.header {
  /* Define header styles here */
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 5%;
  
}

.logo {
  /* Define logo styles here */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  /* Define image styles within the logo here */
  padding: 1px;
  border-radius: 50px;
  border: 3px solid #8B4513;
}

.nav-menu a {
  /* Define navigation link styles here */
  text-decoration: none;
  color: white;
  padding: 20px;
  color: #8B4513;
}

.nav-menu a:hover {
  /* Define hover styles for navigation links here */
}

.hero {
  /* Define hero section styles here */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  
  background-image: url(./assets/chaipatti.png);

  min-height: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover; 
  color: white;
  

  background-color: rgba(0, 0, 0, 0.413); /* Adjust opacity here */



  background-blend-mode: darken; 
}

.hero-text h1 {
  /* Define styles for h1 in hero-text here */
  font-size: 3rem;
}

.hero-text p {
  /* Define styles for paragraph in hero-text here */
  font-size: 1rem;
}

.shop-button {
  /* Define shop button styles here */
  font-size: 1.5rem;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  background-color: #8B4513;
  color: white;
}

.shop-button:hover {
  /* Define hover styles for shop button here */
}

.tea-collection {
  /* Define tea collection section styles here */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  /* text-align: center; */
}

.tea-collection h2 {
  /* Define styles for h2 in tea collection here */
  color: #8B4513;
  font-size: 2rem;
}

.tea-cards {
  /* Define tea cards container styles here */
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  row-gap: 20px;

  margin: 30px 18%;
}

.tea-card {
  /* Define styles for each tea card here */
  display: flex;
  flex-direction:column;
  align-items: center;
  
  padding: 50px;
  text-align: center;
  width: 20vw;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(140, 138, 138);
}

.tea-card h3 {
  /* Define styles for tea card headings here */
  padding: 10px;
}

.tea-card p {
  /* Define styles for tea card paragraph text here */
  color: #000;
  padding: 10px;
}
